@page "/"
@using Project2UI.Models
@using Project2UI.Services
@using Microsoft.AspNetCore.Mvc
@using System.Net
@inject BrowserStorageService _browserStorageService;
@inject NavigationManager _navigationManager;
@inject ImageService _imageService;
@inject IJSRuntime _jsRuntime
<PageTitle>Home</PageTitle>
@if (HasError)
{
    <MudAlert Severity="Severity.Error" Variant="Variant.Filled">@ErrorMessage</MudAlert>
}

@if (_userImages.Count == 0)
{
    <h1>No Data to display please upload an image</h1>
}
else
{
    <table>
        <thead>
        <tr>
            <th>Image Name</th>
            <th>Date Captured</th>
            <th>Captured By</th>
            <th>Tags</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var userImage in _userImages)
        {
            @if (userImage.IsUploader)
            {
                <tr>
                    <td>
                        <input type="text" @bind="userImage.Image.Name"/>
                    </td>
                    <td>
                        <input type="date" @bind="userImage.Image.DateCaptured"/>
                    </td>
                    <td>
                        <input type="text" @bind="userImage.Image.CapturedBy"/>
                    </td>
                    <td>
                        <input type="text" @bind="userImage.Image.Tags"/>
                    </td>
                    <td>
                        <MudButton @onclick="@(() => Save(userImage))" Variant="Variant.Filled" Color="Color.Success">Save</MudButton>
                        <MudButton @onclick="@(() => Delete(userImage))" Variant="Variant.Filled" Color="Color.Error">Delete</MudButton>
                        <MudButton @onclick="@(() => Show(userImage))" Variant="Variant.Filled" Color="Color.Primary">Show/Hide</MudButton>
                    </td>
                </tr>
                @if (userImage.IsExpanded)
                {
                    <tr>
                        <td>
                            <img src="@userImage.ImageSource" style="float: left; margin: 30px"/>
                        </td>
                        <td>
                            <a href="@userImage.ImageSource">Download</a>
                        </td>
                    </tr>

                    <tr>
                        <h2>Shared Users</h2>
                    </tr>

                    @if (userImage?.SmallResponses != null)
                    {
                        foreach (var user in userImage.SmallResponses)
                        {
                            <tr>
                                <td>@user.Username</td>

                                <td><MudButton @onclick="@(() => UnShare(user, userImage))" Variant="Variant.Filled" Color="Color.Error">Un Share</MudButton></td>
                            </tr>
                        }
                    }
                    <tr>
                        <td>
                            <input type="text" @bind="@username"/>
                        </td>

                        <td><MudButton @onclick="@(() =>Share(userImage))" Variant="Variant.Filled" Color="Color.Success">Share</MudButton></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>@userImage.Image.Name</td>
                    <td>@userImage.Image.DateCaptured.ToString("dd/mm/yyyy")</td>
                    <td>@userImage.Image.CapturedBy</td>
                    <td>@userImage.Image.Tags</td>
                    <td>
                        <MudButton @onclick="@(() => Show(userImage))" Variant="Variant.Filled" Color="Color.Primary">Show.Hide</MudButton>
                    </td>
                </tr>

                if (userImage.IsExpanded)
                {
                    <tr>
                        <td>
                            <img src="@userImage.ImageSource" style="float: left; margin: 30px"/>
                        </td>
                        <td>
                             <a href="@userImage.ImageSource">Download</a>
                        </td>
                    </tr>
                }
            }
        }
        </tbody>
    </table>
}

@code
{
    bool
        HasError { get; set; }

    string username { get; set; }
    string? ErrorMessage { get; set; }
    List<UserImage> _userImages = new List<UserImage>();
    string _userId;

    protected override async Task OnInitializedAsync()
    {
        var id = await _browserStorageService.GetItem<UserStateModel>("Project2");
        _userId = id.UserId;
        if (string.IsNullOrWhiteSpace(_userId))
            _navigationManager.NavigateTo("/signin");
        else
        {
            await LoadUserImages();
        }
    }

    private async void Show(UserImage userImage)
    {
        await GetShares(userImage);
        userImage.IsExpanded = !userImage.IsExpanded;
    
    }

    private async void Save(UserImage userImage)
    {
        var response = await _imageService.UpdateImage(userImage.Image);
        if (!response.Success)
        {
            HasError = true;
            ErrorMessage = response.Message;
        }
        await LoadUserImages();
    }

    private async void Delete(UserImage userImage)
    {
        var response = await _imageService.DeleteImage(userImage.Image);
        if (!response.Success)
        {
            HasError = true;
            ErrorMessage = response.Message;
        }
        await LoadUserImages();
    }

    private async Task LoadUserImages()
    {
        var userImageResponse = await _imageService.GetImagesByUser(_userId);
        _userImages = userImageResponse.Result;
        StateHasChanged();
    }
    


    private async void UnShare(UserSmallResponse user, UserImage userImage)
    {
        var response =  await  _imageService.UnShareImage(userImage, user.Username);
        if (!response.Success)
        {
            HasError = true;
            ErrorMessage = response.Message;
        }
       
        await GetShares(userImage);
    }

    private async void Share(UserImage userImage)
    {
        if (string.IsNullOrWhiteSpace(username))
        {
            HasError = true;
            ErrorMessage = "Please enter a user name";
            return;
        }

        var response =  await  _imageService.ShareImage(userImage, username);
        if (!response.Success)
        {
            HasError = true;
            ErrorMessage = response.Message;
        }
        else
        {
            username = "";
            await GetShares(userImage);
        }
      

    }

    public async Task GetShares(UserImage userImage)
    {
        var response = await _imageService.GetSharedUsers(userImage.ImageId);
        if (!response.Success)
        {
            HasError = true;
            ErrorMessage = response.Message;
        }
        userImage.SmallResponses = response.Result;
    }
}